<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <h1>Add Page of Crud</h1>

        <form action="/crud/insertrecord" enctype="multipart/form-data" method="post">
            <table border="1">
                <tr>
                    <td>Name :- </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>Email :-</td>
                    <td>
                        <input type="text" name="email">
                    </td>
                </tr>
                <tr>
                    <td>Password :-</td>
                    <td>
                        <input type="text" name="password">
                    </td>
                </tr>
                <tr>
                    <td>Gender :-</td>
                    <td>
                        <input type="radio" name="gender" value="Male">Male
                        <input type="radio" name="gender" value="Female">Female
                    </td>
                </tr>
                <tr>
                    <td>Hobby :-</td>
                    <td>
                        <input type="checkbox" name="hobby" value="Playing">Playing
                        <input type="checkbox" name="hobby" value="Singing">Singing
                        <input type="checkbox" name="hobby" value="Dancing">Dancing
                    </td>
                </tr>
                <tr>
                    <td>City :-</td>
                    <td>
                        <select name="city" id="">
                            <option value="">--- Select City ---</option>
                            <% city=["Surat", "Amreli" , "Vadodara" , "Rajkot" , "Jamnagar" ] 
                                city.map((val,index)=> { %>
                                <option value="<%= val %>">
                                    <%= val %>
                                </option>
                                <% })%>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>File :-</td>
                    <td>
                        <input type="file" name="fileimage" id="">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
            </table>
        </form>
        <a href="/crud">View</a>
    </div>
</body>

</html>